
.link-ativo {
  text-decoration: underline !important;
  text-underline-offset: 6px;
  font-weight: 600;
}

.hero-section {
  /* Substitua pelo caminho da sua imagem exportada */
  background-image: url('./assets/looper-bg.svg'); 
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: bottom center; /* Alinha a imagem na parte inferior, como no design */
  background-repeat: no-repeat;
  
  /* Cor de fundo preta do seu design */
  background-color: #000000; 
  height: 100vh;
  width: 100%;
}