<header class="header-main">
  <nav class="navbar bg-transparent">
    <div class="container px-5 d-flex align-items-center mt-2">
      
      <div class="w-25 ">
        <a class="ms-5" href="">
          <img class="rounded-circle " src="/teste-calama-devs-joao-pedro/João Pedro/assets/images/calama_devs_logo.jpg" alt="" width="60" >
        </a>
      </div>
      
      <div class="elementos w-50 d-flex justify-content-center gap-4">
        <a class="text-decoration-none text-white" href="teste1">Home</a>
        <a class="text-decoration-none text-white" href="/teste-calama-devs-joao-pedro/João Pedro/sobre.html">Sobre</a>
        <a class="text-decoration-none text-white" href="teste2">Projetos</a>
        <a class="text-decoration-none text-white" href="teste3">Contato</a>
      </div>
      
      <div class="w-25 d-flex justify-content-end gap-3">
        <a href="">
          <i class="bi bi-discord text-white"></i>
        </a>
        <a href="">
          <i class="bi bi-twitter-x text-white"></i>
        </a>
        <a href="">
          <i class="bi bi-instagram text-white"></i>
        </a>
      </div>
    </div>
  </nav>
</header>