<header class="header-main">
  <nav class="navbar bg-transparent">
    <div class="container d-flex justify-content-between align-items-center">
      <a class="ms-5" href="">
        <img class="rounded-circle " src="/teste-calama-devs-joao-pedro/João Pedro/images/ifroLogo.jpg" alt="" width="55" >
      </a>
      <div class="d-flex gap-3 position-absolute top-50 start-50 translate-middle">
        <a class="text-decoration-none text-white" href="">Home</a>
        <a class="text-decoration-none text-white" href="/teste-calama-devs-joao-pedro/João Pedro/sobre.html">Sobre</a>
        <a class="text-decoration-none text-white" href="">Projetos</a>
        <a class="text-decoration-none text-white" href="">Contato</a>
      </div>
      
        <div class="d-flex gap-3 me-5">
          <a href="">
            <i class="bi bi-discord"></i>
          </a>
          <a href="">
            <i class="bi bi-twitter-x"></i>
          </a>
          <a href="">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
    </div>
  </nav>
</header>